.srtooltip_displayNone {
  display: none !important;
}

.srtooltip_displayBlock {
  display: block !important;
}

.srtooltip {
  max-width: fit-content;
  max-height: fit-content;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

.srtooltip_text {
  color: white;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
}

.srtooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
